.welcome {
  min-height: calc(100vh - var(--navbar-height));
  background-image: url('/welcome-background-small.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.welcome__content {
  position: relative;
  z-index: var(--z-base);
  padding-top: var(--spacing-2xl);
  text-align: center;
  color: var(--color-primary-dark);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
  width: 50%;
}

.welcome__title {
  font-size: var(--font-size-4xl);
  font-family: var(--font-family-heading);
  margin-bottom: var(--spacing-lg);
}

.welcome__text {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-xl);
}

.welcome__button {
  font-size: var(--font-size-lg);
}