<div class="welcome">
  <div class="welcome__content">
    <h1 class="welcome__title">Welcome to AMUSEUM</h1>
    <p class="welcome__text">Discover the world of digital art and culture</p>
    <%= link_to "Enter", root_path, class: "button button--primary welcome__button" %>
  </div>
</div>
