<div class="welcome">
  <div class="welcome__content">
    <h1 class="welcome__title">Welcome to the AMuseum</h1>
    <p class="welcome__text">Discover the world of AMazing art and culture</p>
    <%= link_to "Enter", room_path(Room.first_room), class: "button button--primary welcome__button" %>
  </div>
</div>
